<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:javaee="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <context-param>
    <param-name>project_folder:core</param-name>
    <param-value>/opt/tomcat/projects/smartup5x_core</param-value>
  </context-param>
  <context-param>
    <param-name>editor_path</param-name>
     <param-value>/opt/tomcat/projects/editor_runner</param-value>
  </context-param>
  <context-param>
    <param-name>google_translate_api_key</param-name>
    <param-value>AIzaSyCSi-dqcVI1Xam0aVGSUrTvd3pybTfEYwQ</param-value>
  </context-param>

  <!-- <listener>
    <listener-class>uz.greenwhite.biruni.dev.DevContextListener</listener-class>
  </listener> -->

  <servlet>
    <servlet-name>biruni_dev</servlet-name>
    <servlet-class>uz.greenwhite.biruni.dev.ProjectManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>biruni_dev</servlet-name>
    <url-pattern>/page/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>biruni_dev</servlet-name>
    <url-pattern>/dev/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>biruni_dev</servlet-name>
    <url-pattern>/devtrans/*</url-pattern>
  </servlet-mapping>

  <!-- E-IMZO wsdl -->
  <!-- <context-param>
    <param-name>wsdl_pkcs7</param-name>
    <param-value>http://127.0.0.1:9193/dsvs/pkcs7/v1?wsdl</param-value>
  </context-param>
  <servlet>
    <servlet-name>eimzo</servlet-name>
    <servlet-class>uz.greenwhite.biruni.servlet.EimzoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eimzo</servlet-name>
    <url-pattern>/eimzo/*</url-pattern>
  </servlet-mapping> -->

  <!-- Folder where to load setting file [contextPath.properties] (WEB-INF
    folder if it is not defined) -->
  <context-param>
    <param-name>setting_path</param-name>
    <param-value>~/biruni</param-value>
  </context-param>

  <!-- interval measured by minutes -->
  <context-param>
    <param-name>job_runner_interval</param-name>
    <param-value>30</param-value>
  </context-param>

  <!-- the time and day interval of job for cleaning biruni files (time/day_interval) -->
  <!--
  <context-param>
    <param-name>image_cleaner</param-name>
    <param-value>00:00/7</param-value>
  </context-param>
  -->

  <listener>
    <listener-class>uz.greenwhite.biruni.listener.MyContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
  </listener>
  <listener>
    <listener-class>uz.greenwhite.biruni.listener.ExtraContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>uz.greenwhite.biruni.listener.SessionControlListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>easy_report_migrator</servlet-name>
    <servlet-class>uz.greenwhite.biruni.servlet.EasyReportMigrator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>easy_report_migrator</servlet-name>
    <url-pattern>/easy_report_migrator</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>biruni</servlet-name>
    <servlet-class>uz.greenwhite.biruni.servlet.OracleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>biruni</servlet-name>
    <url-pattern>/b/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>cos_request</servlet-name>
    <servlet-class>uz.greenwhite.biruni.servlet.COSRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cos_request</servlet-name>
    <url-pattern>/util/cos_request</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>zktime</servlet-name>
    <servlet-class>uz.greenwhite.biruni.servlet.ZKTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>zktime</servlet-name>
    <url-pattern>/iclock/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>barcode</servlet-name>
    <servlet-class>uz.greenwhite.biruni.servlet.BarcodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>barcode</servlet-name>
    <url-pattern>/gen/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>session_info</servlet-name>
    <servlet-class>uz.greenwhite.biruni.servlet.SessionInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>session_info</servlet-name>
    <url-pattern>/util/session_info</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>version_info</servlet-name>
    <servlet-class>uz.greenwhite.biruni.servlet.VersionInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>version_info</servlet-name>
    <url-pattern>/version_info</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>oauth2_token</servlet-name>
    <servlet-class>uz.greenwhite.biruni.servlet.Oauth2Token</servlet-class>
    <init-param>
      <param-name>oauth2_headers</param-name>
      <param-value>company_code;lang_code;secret_key_hash</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>oauth2_token</servlet-name>
    <url-pattern>/oauth2/token/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>oauth2_client_server</servlet-name>
    <servlet-class>uz.greenwhite.biruni.servlet.Oauth2ClientServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>oauth2_client_server</servlet-name>
    <url-pattern>/oauth2/auth/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>api_client_server</servlet-name>
    <servlet-class>uz.greenwhite.biruni.servlet.ApiClientServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>api_client_server</servlet-name>
    <url-pattern>/api/auth/token</url-pattern>
  </servlet-mapping>

  <!--  payze callback-->
  <!--  <servlet>
      <servlet-name>payze_callback</servlet-name>
      <servlet-class>uz.greenwhite.biruni.servlet.PayzeCallback</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>payze_callback</servlet-name>
      <url-pattern>/callback/payze</url-pattern>
    </servlet-mapping>-->

  <!-- secure cookie -->
  <!--
  <session-config>
    <cookie-config>
      <secure>true</secure>
    </cookie-config>
  </session-config>
  -->

  <filter>
    <filter-name>GzipFilter</filter-name>
    <filter-class>uz.greenwhite.biruni.http.GZipServletFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>GzipFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- Error Handling -->
  <servlet>
    <servlet-name>ErrorHandler</servlet-name>
    <servlet-class>uz.greenwhite.biruni.servlet.ErrorHandler</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ErrorHandler</servlet-name>
    <url-pattern>/ErrorHandler</url-pattern>
  </servlet-mapping>

  <error-page>
    <error-code>404</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/ErrorHandler</location>
  </error-page>

  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/ErrorHandler</location>
  </error-page>
</web-app>
